<% provide(:title, "About") %>
<div class="container-fluid header-container">
	<div class="container" id="about-header">
		<h1>About</h1>
	</div>
</div>
<div class="container-fluid" id="about-body">
	<div class="container" id="about-body-text">
		<h1>We believe in people investing in people</h1>
		<p>Every tragedy, every addiction, every broken heart has the same result. People are absolutely shattered... until they aren't. People still in it feel dead. People who make it through are stronger. Our goal is to create as many of the later as possible. </p>
	</div>
</div>
<div class="container-fluid bottom-half-about-page">
	<div class="panel-group">
		<div class="panel panel-default col-sm-6 col-md-3 bottom-panels" id="mission">
	  		<div class="panel-heading">
	  			Our Community
	  		</div>
	  		<div class="panel-body">
	  			We are dedicated to promoting a judgement free, honest and safe place for people to connect with each other on a deeply personal level. Change happens when people can share their hearts and all of the walls come down.
	  		</div>
		</div>
		<div class="panel panel-default col-sm-6 col-md-3 bottom-panels" id="about_us">
	  		<div class="panel-heading">
	  			Who we are
	  		</div>
	  		 <div class="panel-body">
	  			A big group of broken people that realize we can't make it through life alone. That the first step to life is accepting that you're broken and in need of help. 
	 		</div>
		</div>
		<div class="panel panel-default col-sm-6 col-md-3 bottom-panels" id="testimonials">
	  		<div class="panel-heading">
	  			Our Values
	  		</div>
	  		<div class="panel-body">
	  			<em>“Jesus answered, “I am the way and the truth and the life. No one comes to the Father except through me.”” John 14:6</em> <br><br>
	  			Spreading the Gospel of Jesus Christ is the ultimate goal of The Brokenness Club. We believe no one is more valuable than another and pray God will use the relationships formed here to draw people to the Truth.
	  		</div>
		</div>
		<div class="panel panel-default col-sm-6 col-md-3 bottom-panels" id="blog_panel">
			<div class="panel-heading">
				Contact Us
			</div>
			<div class="panel-body">
				Email: dylanbiddle@gmail.com <br>
				Phone: (859)595-7479 <br>
				Mail:  203 Bentbrook ct. <br>
					   &nbsp &nbsp &nbsp &nbsp Winchester, KY 40391 <br>
			</div>
		</div>
	</div>
</div>
<!--<%= render 'layouts/panel_info' %>-->