<% provide(:title, "Give Help") %>
<div class="container-fluid header-container">
	<div class="container" id="about-header">
		<h1>Give Help</h1>
	</div>
</div>

<div class="container instructions-container">
	<div class="col-sm-6">
		<h1>
			FACE LIFE HEAD ON
		</h1>
		<p class="motivation">
			That's the challenge The Brokenness Club thrives on. You will be connected with people who are at the lowest point in their lives. The same place you've been. Show them what you have learned.
		</p>
		<h5>
			STEP 1
		</h5>
		<h4>
			Create an account
		</h4>
		<%= link_to "Continue", new_user_registration_path, class: "btn btn-primary" %>

		<h5>
			STEP 2
		</h5>
		<h4>
			Write your story
		</h4>
		<p>
			Your name, profile picture and story will be shared with people looking for help in the same issues that you have been through, as well as other mentors in your categories. 
		</p>
		<%= link_to "Continue", "#", class: "btn btn-primary" %>

		<h5>
			STEP 3
		</h5>
		<h4>
			Be available
		</h4>
		<p>
			People needing help in your category will find you based on your profile categories and story. You will be notified by email when a match is found. Be ready to open your heart and mind to make a difference in someone's life.
		</p>
	</div>
</div>