<%= f.label :subcategory_ids, "Categories", class: "control-label col-sm-2" %><br />
<div class="col-sm-10">
<%= f.grouped_collection_select :subcategory_ids, Category.order(:name), 
						:subcategories, :name, :id, :name, {}, 
						{:multiple => true, class: "form-control"}%>
<span class="help-block"> Choose the categories you are prepared to be a mentor for.<br /></span>
</div>
 