<div class="container">
  <h2><span>Edit Subcategory</span></h2>
  <div class="sign-up-form">
	<%= form_for [@category, @subcategory] do |f| %>
		<div class="form-group">
		    <div class = "col-xs-12">
				<%= f.label :name %>
				<%= f.text_field :name, class: "form-control", autofocus: true %>
			</div>
		</div>
		<%= f.submit "Update", class: "btn btn-primary" %>
	<% end %>
  </div>
</div>