<div class="container">
	<h2><span>Select a Role</span></h2>
	<div class="sign-up-form">
	  <%= button_to("Get Help", role_path, :method => :put, params: { role: "student" } ) %>
	</div>
	<div class="sign-up-form">
	  <%= button_to("Give Help", role_path, :method => :put, params: { role: "mentor" } ) %>
	</div>
</div>