<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-xs-6">
                    <h5 id='footer-header'> SITEMAP </h5>
                    <div class="col-sm-4 col-xs-6" style="padding: 0 0 0 0px">
                        <p>News</p>
                        <p>contact</p>
                    </div>
                    <div class="col-sm-4 col-xs-6" style="padding: 0 0 0 0px">
                        <p>FAQ</p>
                        <p>Privacy Policy</p>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <h5 id='footer-header'> xxxx </h5>
                    <p>yyyyyyyyyyyyy</p>
                </div>
                <div class="col-sm-4 col-xs-6">
                    <h5 id='footer-header'> xxxxx </h5>
                    <p>uuuuuuuuuuuuuuu</p>
                </div>
            </div>
        </div>
</footer>