<div class="container-fluid bottom-half-home-page">
	<div class="panel-group">
	<div class="panel panel-default col-sm-6 col-md-3 bottom-panels" id="mission">
	  		<div class="panel-heading">
	  			Mission
	  		</div>
	  		<div class="panel-body">
	  			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et tortor sagittis, molestie libero sed, rutrum ante. Sed velit metus, fermentum ut pharetra et, sollicitudin vitae ligula. In egestas interdum velit sed vulputate.
	  		</div>
	  </div>
	  <div class="panel panel-default col-sm-6 col-md-3 bottom-panels" id="testimonials">
	  		<div class="panel-heading">
	  			Testimonials
	  		</div>
	  		<div class="panel-body">
	  			
	  		</div>
	  </div>
	  
	  <div class="panel panel-default col-sm-6 col-md-3 bottom-panels" id="about_us">
	  		<div class="panel-heading">
	  			About Us
	  		</div>
	  		 <div class="panel-body">
	  			Nunc a sapien at odio mollis sagittis. Nunc magna odio, tempus eget nisl sit amet, pretium molestie mi. Suspendisse non porttitor nisl. Morbi ornare dictum nulla in pharetra. Etiam commodo metus quam.
	 		</div>
	  </div>

	  <div class="panel panel-default col-sm-6 col-md-3 bottom-panels" id="blog_panel">
	  		<div class="panel-heading">
	  			Blog
	  		</div>
	  		 <div class="panel-body">
	  			Nunc a sapien at odio mollis sagittis. Nunc magna odio, tempus eget nisl sit amet, pretium molestie mi. Suspendisse non porttitor nisl. Morbi ornare dictum nulla in pharetra. Etiam commodo metus quam.
	 		</div>
	  </div>
	</div>
</div>